*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --bg-color: rgba(33, 29, 43, 255);

    --card-top: rgba(41, 45, 68, 255);
    --card-bottom: rgba(53, 52, 79, 255);

    --primary-500: hsl(237, 18%, 59%);
    --primary-700: hsl(345, 95%, 68%);


    --neutral-100: hsl(235, 16%, 14%);
    --neutral-200: hsl(234, 17%, 12%);
    --neutral-400: hsl(236, 21%, 26%);
    --neutral-900: hsl(0, 0%, 100%);

    --ff-default: ;
    
    --fs-title: 2rem;
    --fs-number: 5rem;
    --fs-time-type: 1.25rem

    --fw-default: 700;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    display: block;
    max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-image: url("./images/bg-stars.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
    font-size: 14px;
    font-family: 'Rubik',sans-serif;
    font-weight: var(--fw-default);
}

main {

    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.5em;
    padding: 2em

}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr auto;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-image: url("./images/pattern-hills.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em;
}

h1 {
    color: var(--neutral-900);
    font-size: var(--fs-title);
    font-family: var(--ff-default);
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
}


/*
.time-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-700);
    font-size: var(--fs-number);
    background-color: var(--neutral-400);
    padding: 2rem;
}

.time-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.5rem
}

*/

.flip-clock {
    text-align: center;
    perspective: 400px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5em;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

.flip-clock__piece {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


.flip-clock__slot {
    font-size: 1.5rem;
    color: var(--primary-500);
    text-align: center;
    letter-spacing: .35em;
    text-transform: uppercase;
    font-weight: 100;
}



.card {
    display: block;
    position: relative;
    padding-bottom: 1em;
    font-size: 4rem;
    line-height: 0.95;
    font-weight: 500;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
    display: block;
    height: 1em;
    color: var(--primary-700);
    background: #222;
    padding: 0.5em 0.5em;
    border-radius: 0.1em 0.1em 0 0;
    transform-style: preserve-3d;
    width: 2.5em;
    transform: translateZ(0);
}

.card__top {
    background-color: var(--card-top);
    border-radius: 0.05em 0.05em 0.1em 0.1em;
}


.card__bottom {
    position: absolute;
    top: 50%;
    left: 0;
    border-top: solid 1px #000;
    background: var(--card-bottom);
    border-radius: 0.1em 0.1em 0.05em 0.05em;
    pointer-events: none;
    overflow: hidden;
}

.card__bottom::after {
    display: block;
    margin-top: -1em;
}

.card__back::before,
.card__bottom::after {
    content: attr(data-value);
}

.card__back {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0%;
    pointer-events: none;
}

.card__back::before {
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.flip .card__back::before {
    animation: flipTop 0.3s cubic-bezier(.37, .01, .94, .35);
    animation-fill-mode: both;
    transform-origin: center bottom;
}

.flip .card__back .card__bottom {
    transform-origin: center top;
    animation-fill-mode: both;
    animation: flipBottom 0.6s cubic-bezier(.15, .45, .28, 1); 
}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg);
        z-index: 2;
    }

    0%,
    99% {
        opacity: 0.99;
    }

    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
}

@keyframes flipBottom {

    0%,
    50% {
        z-index: -1;
        transform: rotateX(90deg);
        opacity: 0;
    }

    51% {
        opacity: 0.99;
    }

    100% {
        opacity: 0.99;
        transform: rotateX(0deg);
        z-index: 5;
    }
}

h3 {
    text-align: center;
    margin-top: 1.5rem;
    color: var(--primary-500);
    font-size: var(--fs-time-type);
    letter-spacing: .4rem;
    text-transform: uppercase;

}

.social-links{
    display: flex;
    gap: 2em;
    gap: 2rem;
    list-style-type: none;
}


.social-icon {
    fill: #8385A9;
}

.social-icon:hover {
    fill: #DA4567;
}



